# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
All available tools For data science has been explained and practical labs also have been offered to practice some of the tools .
From Data Management tools to Code Asset Management tools all have been explained and also provision of the hands on lab to familiarize oneself with these tools

___Some obejectives covevered in this notebook include:___
+ Listing data science programming languages
+ Naming data science libraries
+ Explaining how arithmetic expressions can be performed in Python
+ Creating a table in markdown
+ Wrirting a conversion code in python

Some of the Data science Languages that we have include:
1. Python
2. Scala
3. R
4. C++
5. SQL
6. Ruby
7. php

Many data scientists use the following librarie:
- pandas
- Scikit Learn
- Numpy
- MatPlotlib
- Scikit learn
- keras
- Tensorflow
 ### Commonly used libraries in data science are:
 1. Matplotlib
 2. Pandas
 3. Numpy

#Making a table
 |Data Science Tools|
 |------------------|
 | Vscode|
 | jupyter book|
 | Rstudio |

### How to solve Arithmetic expressions in Python

In [1]:
# this an expression showing how to solve an arithmetic solution it calculates the expression in the brackets first then adds the integer that is outside the brackets
(3*4)+5

17

In [3]:
y= 60
value=200
results=value/y
print(results)

3.3333333333333335

## Author
DANIEL N